<div class="container">
    <div class="card border-primary">
        <div class="card-header text-white bg-primary">
                <div class="row">
                        <div class="col-md">
                    <h3>Pago Reinscripcion</h3>
                </div>
                <div class="col-md" align="right">
                        <button style="margin: 5px;" type="button" class="btn btn-outline-light" (click)="imprimirLista()">Generar PDF</button>
                </div>
            </div>
        </div>
        <div class="card-body">
                <input class="form-control" type="text" id="myInput" placeholder="Buscar.."><br>
            <table class="table table-striped table-sm" cellspacing="0"
            width="100%" id="frmPagoReinscripcion">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>CODIGO</th>
                        <th>DESCRIPCION</th>
                        <th>MONTO</th>
                        <th>VENCIMIENTO</th>
                        <th>FECHA</th>
                        <th>USUARIO</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr *ngFor="let res of pagoreinscripcion" class="text-center">
                        <td>{{res.id_pago_reinscripcion}}</td>
                        <td>{{res.cod_reinscripcion}}</td>
                        <td>{{res.descripcion}}</td>
                        <td>{{res.monto}}</td>
                        <td>{{res.vencimiento}}</td>
                        <td>{{res.fecha}}</td>
                        <td>{{res.estado}}</td>
                        <td>{{res.usuario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
