<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Reinscripcion</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="descripcion">Descripcion: </label>
                    <input #descripcion type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="monto">Monto: </label>
                    <input #monto type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="vencimiento">Vencimiento: </label>
                    <input #vencimiento type="date" class="form-control">
                </div>

                <button (click)="Guardar(descripcion.value, monto.value, vencimiento.value)" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

